@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2")  format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;


}

.main-inner {
  color: #242424;
  background-color: #FBF7F4;
}



.button {
  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  color: #000000;;
  background: #FFFFFF;
}
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 430px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.logo-main {
  display: block;
  margin: 0 auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}


.navigation-link {
  display: block;
  padding: 19px 24px;
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  background: #FFFFFF;
  text-decoration: none;

}


.main-index {
  color: #000000;
  background-color: #E5E5E5;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-item {
  width: 250px;

}

.advantages {
  margin-bottom: 75px;
}

.advantages-list {
  display: block;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;



}

.advantages-item {
  display: block;
  width: 1200px;
  text-align: center;
  text-transform: uppercase;
}

.contacts {
  width: 350px;
  font-weight: 700;

}


.navigation-user {
  max-width: 250px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.main-container {
  flex-grow: 1;
}

.advantages-title {
  display: block;
  margin-bottom: 172px;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.feature-preview {
  display: block;
  color: #FFFFFF;
  background-color: #83B3D3;
}
.services {
  text-transform: uppercase;
}

.services-title {
  margin-top: 0;
  margin-bottom: 94px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;

}

.services-list {
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  list-style-type: none;

}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 16px;
  width: 220px;
  margin-right: 20px;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 44px;
  padding: 14px 20px;
  line-height: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
}



.product-card {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1056px;
  margin: 0;
  padding: 0;
  flex-direction:;
}

.product-card-image {
  margin-bottom: 30px;
  width: 180px;
}

.advantage-previews {
  list-style-type: none;
}

.advantage-preview {
  background: #83B3D3;
  list-style-type: none;
  text-align: center;

}
.infrastructure {: background: url(../index-background.jpg);
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 1200px;
}

.page-footer {
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  padding: 40px 30px;

}

.footer-contact {
  width: 120px;
  margin-right: 240px;
  text-transform: uppercase;
  text-align: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 19px;
  height: 15px;
  flex-wrap: wrap;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

}
.about-text {
  width: 115px;
  height: 34px;
  padding-top: 42px;
  padding-left: 600px;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.product-card-button {
  display: inline-block;
  align-items: center;
  padding-left: -15px;
  width: 152px;
padding-top: 5px;
  padding-right: -155px;
  margin: 30px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contacts-phone {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  color: black;
  line-height: 40px;
}

.product-card-title {
  width: 211px;
  height: 31px;
  font-size: 24px;
  vertical-align: top;
  color: #000000;
  font-weight: 700;
}

.popular {
  width: 56px;
  height: 44px;
  padding-left: 340px;
}

.product-card-price {
  padding-left: 120px;
  text-align: left;
}

.sorting {

}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
}

.promo-block {
  background-image: url(../img/index-background.jpg);
}

.logo-header {
  position: absolute;
  padding-left: 531px;
  padding-right: 531px;
}


.product-card-1 {
  display: flex;
}


.image-main {
  display: block;

}

.search {
  display: grid;
  text-align:center;
}

.search-title {


}


.search-name {


}

.search-button {


}

.subscribe {
  display: grid;
  text-align:center;
}
